body {
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 10px;
	background-color: #fcfcfc;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button, input {
	margin: 5px;
}

button {
	cursor: pointer;
}

table, th, td {
	border: 1px solid #555;
	border-collapse: collapse;
	padding: 5px;
	font-size: 10pt;
}


table.common {
	margin-top: 5px;
	margin-bottom: 10px;
}
table.common th {
	font-size: 9pt;
}
table.common .proc {
	font-size: 9pt;
}
table.common tbody tr:hover {
	background-color: #fffaaf70;
}


table.db thead {
	background-color: #ccc;
}
table.db tbody tr:nth-child(odd) {
	background-color: #eee;
}
table.db th, table.db td {
	padding: 5px 8px;
	white-space: normal;
}
table.db td.pre {
	white-space: pre;
}
table.db i.undef {
	color: #ccc;
}


th.pointer.clicked-on, td.pointer.clicked-on {
	background-color: #daf3ff !important;
}
th.pointer.clicked-on:hover, td.pointer.clicked-on:hover,
th.pointer:hover, td.pointer:hover {
	background-color: #bbeaff !important;
}

.pointer {
	cursor: pointer;
}


.print-r-tree .open-all,
.print-r-tree .close-all,
.print-r-tree .toggle-a {
	display: inline-block;
	vertical-align: middle;
	height: .8em;
	line-height: .7;
	padding: 0 4px;
	margin: 0 6px;
	color: steelblue;
	border: solid 1px #999;
	border-radius: 3px;
}
.print-r-tree .toggle-a:before {
	content: '+';
}
.print-r-tree .open > .toggle-a:before {
	content: '-';
}
.print-r-tree .open-all:before {
	content: '+…';
}
.print-r-tree .close-all:before {
	content: '-…';
}
.print-r-tree span.a-box:not(.open) {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	max-width: var(--line-limit, 70vw);
	overflow: hidden;
	text-overflow: ellipsis;
}
.print-r-tree span.a-box:not(.open) span {
	display: inline !important;
}
.print-r-tree span.a-box:not(.open) span .toggle-a {
	display: none;
}
.print-r-tree span.a-box:not(.open) .open-all,
.print-r-tree span.a-box:not(.open) .close-all {
	display: none;
}
